.BodyMain
{
    font-family: "RobotoRegular";
    width: 100%;
    margin: 0px;
}

.burger
{
    display: none;
}
.menu
{
    display: none;
}
.NavMenu
{
    /* фиксируем меню и подымаем его на несколько уровней для правильного наложения */
    position: fixed;
    z-index: 5; 

    display: flex;
    width: 100%;
    height: 130px;
    background-color: #FFFDF6;
    margin: 0px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);   
}

.NavDiv1
{
    display: flex;
    align-items: center;
    width: 60%;
    height: 60px;
    font-size: 1.5vw;
    background-color: #FFFFFF;
    border-right: #FCFF51 9px solid;
    border-bottom: #FCFF51 9px solid;
    border-bottom-right-radius:20px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
}

.Position
{
    margin: 10px;
    font-weight: bold;
    font-size: 4vw;
}
.Logo
{
    margin-left: 10px;
    height: 100%;
}

.NavDiv2
{
    margin-top: 2vh;
    margin-bottom: 2vh; 
    display: flex;
    width: 50%;
    align-items: center;
}

.NavMain1
{
    margin: 0px;
    display: inline-block;
    width: 70%;
    height: 160px;
}
.NavMain2
{
    position: relative;
    height: 130px;
    margin: 0px;
    display: inline-block;
    width: 30%;
    align-items: center;
    
}

.nav_item
{
    font-size: 1.5vw;
    white-space: nowrap;
    width: 15vh;
    margin-right: 5vw;
    margin-left: 5vw;
   padding-bottom: 20px;
}

.BlockRegLog
{
    padding-bottom: 1vh;
    font-size: 1.5vh;
    margin: auto;
    margin-top: 2vh;
    width: 15vw;
    height: 60%;
    background-color: #FCFF51;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); 
}

.LogReg
{
    font-size: 1.5vw;
    font-weight: bold;
    
    margin-top: 10%;
    text-align: center;
    height: 30%;
    display: inline-block;
    width: 100%;
}


.border
{
    width: 100%;
    height: 2vw;
    background-color: black;
    margin: 0px;
}

.footer
{
    display: inline-block;
    background-color: #FFFFF4;
    width: 100%;
    height: 150px;
    display: flex;
    padding: 0;
}

.Foot1
{
    margin: 0px;
    height: 100%;
    width: 45%;
    padding-left: 40px;
    text-align: left;
    display: inline-block;
    color: rgba(0, 0, 0, 0.7);
    font-size: 2vw;
}
.Foot2
{
    margin: 0px;
    height: 100%;
    width: 45%; 
    padding-left: 40px;
    display: inline-block;
    font-size: 3vh;
    color: rgba(0, 0, 0, 0.7);
}

.ImgFoot
{
    width: 50px;
    height: 50px;
}

.Conteiner
{
    background-color: #FCFF7D;
    display: inline-block;
    height: 230vw;
    width: 100%;
}

.HText
{
    font-size: 20px;
    border: 2px solid white;
    border-radius: 10px;
    box-sizing: border-box;
    padding-top: 1vw;
    text-align: center;
    display: block;
    height: 50px;
    width: 70vw;
    background-color: white;
    margin: auto;
    margin-top: 150px;
    
}

.GridCont
{
    
    box-sizing: border-box;
   height: 150vw;
    width: 100%;
    margin-top: 30px;
    display: grid;

    padding: 3%;
   
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 40vw 40vw 40vw 40vw;

    grid-gap: 5%;


}


.ImgItem
{
    border-top: 6px solid black;
    border-right: 6px solid black;
    border-left: 6px solid black;
   
    display: block;
    margin: auto;
    height: 8vw;
    width: 8vw;
   background-color: white;
}

.TextItem
{
    text-align: center;
    font-size: 1.7vw;
    border: 6px solid black;
    border-radius: 5px;
   
    padding: 1vw;
    height: 80%;
    background-color: white;
    display: block;
}
.ImgImg
{
    height: 98%;
    margin: auto;
}

@media screen and (max-width:760px)
{
    .Conteiner
    {
        height: 270vw;
    }
}

@media screen and (max-width:426px)
{

    .HText
    {
        font-size: 4vw;
        padding-top: 4vw;
    }
    .Conteiner
    {
        height: 1150vw;
    }

.GridCont
{
    justify-content: center;
    box-sizing: border-box;
   height: 150vw;
    width: 100%;
    margin-top: 30px;
    display: grid;

    padding: 3%;
   
    grid-template-columns: 80%;
    grid-template-rows: 80vw 80vw 80vw 80vw 80vw 80vw 80vw 80vw 80vw 80vw 80vw 80vw;

    grid-gap: 5%;
}

.TextItem
{
    font-size: 4vw;
}

.Logo
    {
        height: 40px;
        width: 40px;
    }
    .NavMenu
    {
        height: 100px;
        margin: 0px;
        width: 100vw;
    }
    .NavMain1
    {
        margin: 0px;
        height: 100%;
        background-color: #FCFF51;
        width: 100%;
    }
    .Position
    {
        font-size: 4vw;
    }

    .Logo
    {
        height: 15vw;
    }

    .NavMain2
    {
        width: 40%;
        margin: 0px;
    }

    .NavDiv1
    {
        width: 80%;
        font-size: 0.6vh;
        height: 60%;
        margin: auto;
        border: 4px solid black ;
        border-radius: 6px;
        margin-top: 1.5vh;
    }

    .NavDiv2
    {
        display: none;
    }

    .BlockRegLog
    {
        display: none;
    }

    .burger
    {
     width: 40%;
     display: inline-block;
    }
   .BurgerImg
   {
     width: 35px;
     height: 35px;
   }
 
   .NavMain2
   {
     height: 100px;
   }
   .burger
   {
     
     justify-content: center;
     box-sizing: border-box;
     display: flex;
     width: 100%;
     height: 100px;
   }
 
   .MenuText
   {
    padding-top: 50px;
     text-align: center;
     width: 70%;
     display: inline-block;
   }
 
   .ImgDiv
  {
    margin-right: 20px;
    box-sizing: border-box;
    padding-top: 40px;
    width: 20%;
    display: inline-block;
  }
   .footer
   {
    font-size: 2vw;
    height: 70px;
   }

   .ImgFoot
   {
    height: 25px;
    width: 25px;
   }

   .Foot1
   {
    font-size: 2vw;
   }
   .Foot2
   {
    font-size: 1.5vw;
   }

   .menu {
    font-size: 5vw;
    display: none;
    position: fixed;
   
    width: 40%;
    height: 60%;
   top: 0;
   right: 0;
    border-left: 4px solid black;
    border-bottom: 4px solid black;
   
    background-color: #FCFF51;
    
    padding: 10px;
    z-index: 999;
}
p
{
    margin: 4px;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
}

li
{
    font-weight: bold;
   text-decoration: none;
    margin-bottom: 40px;
}
ul
{
    padding: 15px;
}
}


@font-face
{
    font-family: "RobotoRegular";
    src: url(fonts/RobotoCondensed-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}